$blue: #0000FF;
$var1: color;
$red:  #FF0000;
$width: 45;

@import "test_include";
@import "test_mixins";

// Comment!
.apple {
  .static {
    color: blue;
    @include params(44);
  }
  .params-dynamic {
    background: lighten($blue);
    opacity: lighten(44);
    color: $blue;
    width: $width - 10;
    .params-dynamic-inside {
      @include params($width)
    }
    .not-seen-yet {
      @include params($not_seen_yet);
    }
  }
  .ugly {
    // Includes UGLY here
    @include ugly;
    // Includes dynamic ugly here
    @include dyn_ugly;
  }
}

// Extend example
.better-apple {
  @extend .apple;
  .static {
    color: red;
  }
  .dynamic {
    color: $red;
    border: 1px solid $red;
  }
}
